<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dys.vlclibrary">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="activity.VideoActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>

    </application>

</manifest>
